{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="m-5">
    <ul>
      {% for user in users %}
      <a href="{% url 'accounts:detail' user.pk %}">
        <li class="box p-2 mb-3">
          <p class="d-flex justify-content-between">
              {% if user.profile_image %}
                <img src="{{ user.profile_image.url }}" class="rounded-circle">
              {% endif %}
              <span class="my-auto fs-5 fw-bold">{{user.username}}</span>
              <span>{{user.email}}</span>
              <span>마지막 로그인 시간 | {{user.last_login}}</span>
            </p>
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
